# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IPython Notebook
.ipynb_checkpoints

# Special dictionaries with a lot of data which can be regenerated
2016-spiegel/_covers
